.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  padding: 2%;
  box-sizing: border-box;
  height: 5%;
  gap: 5px;
  border: 5px solid #222222;
  border-radius: 15px;
  background-color: #444444;
}
.container:hover {
  border: 2px solid #90caf980;
  transition: border-color 0.3s ease;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.row:last-child {
  padding-top: 3%;
  gap: 5px;
}

.text {
  margin: 0;
}
.title {
  margin: 0;
  /* color: #ce93d8; */
}
