.container {
  display: flex;
  flex-direction: column;
  /* border: 5px solid #121111; */
  /* border: 3px solid #90caf980; */
  justify-content: center;
  padding: 1%;
  width: 100%;
  border-bottom: 3px solid #00f5d0;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #242424;
  color: #9c9583;
  text-align: center;
  height: fit-content;
  box-sizing: border-box;
  height: 45%;
}
