.eventCard {
  width: 90%;

  @media (min-width: 768px) and (max-width: 1023px) {
    width: 45%;
  }

  @media (min-width: 1024px) {
    width: 30%;
  }
}

.info {
  display: flex;
  align-items: center;
  padding: 5px;
}

.icon {
  margin-right: 3px;
}
.eventCard:last-child {
  align-self: self-start;
}
