.eventCard {
  border: 3px solid #121111;
  width: 90%;
  background-color: #242424;
  @media (min-width: 768px) and (max-width: 1023px) {
    width: 45%;
  }

  @media (min-width: 1024px) {
    width: 32%;
  }
}

.eventCard:after {
  transition: all ease-in-out 0.2s;
  background: none repeat scroll 0 0 #00f5d0;
  content: "";
  display: block;
  height: 2px;
  width: 0;
}
.eventCard:hover:after {
  width: 100%;
}

.info {
  display: flex;
  align-items: center;
  padding: 5px;
}

.icon {
  margin-right: 3px;
}
.eventCard:last-child {
  align-self: self-start;
}
