.loginForm {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 0 auto;
  background-color: #242424;
  padding: 3%;
  padding-top: 1%;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom: 3px solid #00f5d0;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  gap: 15px;
}
.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.logoImage {
  height: 20vh;
  filter: invert(95%) sepia(26%) saturate(6857%) hue-rotate(90deg)
    brightness(96%) contrast(101%);
}
