.loginForm {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  background-color: white;
  /* background-color: darkslategrey; */
  padding: 3%;
  padding-top: 1%;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  gap: 15px;
  @media (min-width: 1080px) {
    width: 30%;
  }
  @media (min-width: 768px) and (max-width: 1079px) {
    width: 50%;
  }
}
.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.logoImage {
  height: 20vh;
}

.recommended {
  text-decoration: underline red;
  transition: text-decoration 0.3s ease-in-out;
}
