.container {
  width: 100%;
  /* border-radius: 15px; */
  overflow: auto;
  height: 80vh;
  background-color: #242424;
  border-bottom: 3px solid #00f5d0;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  @media (min-width: 1080px) {
    width: 70%;
  }
  @media (min-width: 768px) and (max-width: 1079px) {
    width: 100%;
  }
}

.container::-webkit-scrollbar {
  display: none;
}

.noDataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 15px;
  overflow: auto;
  height: 80vh;
  @media (min-width: 1080px) {
    width: 70%;
  }
  @media (min-width: 768px) and (max-width: 1079px) {
    width: 55%;
  }
}
